@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0f172a;
  font-family:Arial, Helvetica, sans-serif;
  color:white;
}

/* ===== React Quill ===== */

.ql-container {
  min-height: 500px;
  font-size: 18px;
}

.ql-editor {
  min-height: 500px;
  font-size: 18px;
  line-height: 1.8;
  color: black;
  background: white;
}

.dark .ql-toolbar {
  background: #1e293b;
  border-color: #334155;
}

.dark .ql-container {
  background: #0f172a;
  border-color: #334155;
}

.dark .ql-editor {
  background: #0f172a;
  color: white;
}

.dark .ql-editor.ql-blank::before {
  color: #94a3b8;
}

.dark .ql-toolbar button,
.dark .ql-toolbar .ql-picker-label {
  color: white;
}

.dark .ql-stroke {
  stroke: white !important;
}

.dark .ql-fill {
  fill: white !important;
}